.container {
  $website-width: 1280px;
  margin: auto;
  padding: 2rem;
  overflow: hidden;
}

.container-1 {
  $website-width: 1280px;
  margin: auto 2.6rem auto 3.75rem;
  padding: 1rem;
  overflow: hidden;
}
.container-2 {
  $website-width: 1280px;
  margin: auto 1.5rem auto 1.5rem;
  padding: 1rem;
  // overflow: hidden;
}
.container-3 {
  $website-width: 1280px;
  margin: auto 12rem auto 12rem;
  padding: 1rem;
  overflow: hidden;
}
.container-4 {
  max-width: 1000px;
  // $website-width: 1280px;
  margin: auto 30rem;
  // overflow: hidden;
}

.text-center {
  text-align: center;
}

// color
.bg {
  &-main {
    background-color: $main-color;
  }
  &-dark {
    background-color: $dark-color;
  }
  &-card {
    background-color: $card-color;
  }
  &-footer {
    background-color: hsl(216, 53%, 9%);
  }
}

// padding

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
  &-5 {
    padding: 5.5rem 0 0 0;
  }
  &-6 {
    padding: 13rem 0 0 0;
  }
  &-7 {
    padding: 0 0 16rem 0;
  }
}

// margin

.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
  &-7 {
    margin: 12rem 0 0 0;
  }
}
// Button

%btn-shared {
  display: inline-block;
  cursor: pointer;
  padding: 0.8rem 3.5rem;
  border-radius: 50px;
  border: none;
}
.btn {
  &-light {
    @extend %btn-shared;
    font-weight: 600;
    color: #fff;
    background-color: #8cdae4;
    &:hover {
      transition: background-color 0.5s;
      opacity: 0.8;
      color: #333;
    }
  }
}
